.check.on
{
    color:green;
    text-decoration:none;
    font-size:2rem;
    font-weight: bolder;
}
span{
    font-size:2rem;
}
.check{
    color:black;
    text-decoration:none;
    font-size:2rem;
    margin:0 50px;
}

/*NavLink와 Link는 a 디자인을 넣어서 바꾼다.
Link의 경우 className이 안먹히는 경우도 있다*/